alabaster==0.7.12
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
d2lvalence==1.2.2
docutils==0.16
feedparser==5.2.1
Flask==1.1.1
future==0.18.2
gunicorn==20.0.4
idna==2.8
imagesize==1.2.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
nltk==3.4.5
numpy==1.18.2
packaging==20.1
pdfminer==20191125
pdfminer.six==20200124
pdfminer3k==1.3.1
pdfrw==0.4
pluggy==0.13.1
ply==3.11
py==1.8.1
pycryptodome==3.9.7
Pygments==2.7.4
pylint==2.4.4
pyparsing==2.4.6
PyPDF2==1.26.0
PyPDF3==1.0.1
pytest==5.4.1
pytz==2019.3
requests==2.22.0
selenium==3.141.0
slate3k==0.5.3
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==2.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tika==1.24
tqdm==4.44.1
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==0.16.1
wrapt==1.11.2