certifi==2019.11.28
chardet==3.0.4
Click==7.0
d2lvalence==1.2.2
Flask==1.1.1
future==0.18.2
PyPDF3==1.0.1
gunicorn==20.0.4
idna==2.8
imagesize==1.2.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
nltk==3.4.5
packaging==20.1
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.6
pytz==2019.3
requests==2.22.0
snowballstemmer==2.0.0
urllib3==1.25.8
Werkzeug==0.16.1
wrapt==1.11.2