<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    <title>Bulb</title>
</head>
<body>
    <p>Login Successful!</p>
</body>
</html>

<style>
    body {
        background-image: linear-gradient(to right, #00AEC7, #00B398);
    }
    p {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        margin-top: 50px;
        color: #231F20;
    }
</style>