<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    <title>Bulb</title>
</head>
<body>
    <h1>Welcome to Bulb!</h1>
    <div class="alert-success" role="alert">
        Login Successful, redirecting to app...
    </div>
</body>
</html>

<style>
    body {
        background-image: linear-gradient(to right, #00AEC7, #00B398);
    }
    h1 {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        margin-top: 50%;
        color: #ffffff;
    }

    .alert-success {
        border-radius: 5px;
        border: 2px solid #cae1cf;
        font-family: 'Roboto', sans-serif;
        padding: 12px 20px;
        color: #5c8a66;
        background-color: #d4edda;
        text-align: center;
        margin: 0px 30px;
    }
</style>